@import '../../common/scss/variables.scss';
@import 'include-media/dist/_include-media.scss';

main.tool
{
	form
	{
		fieldset
		{
			margin: 0 0 $margin-thick 0;
			// border-color: #555555;

			&:last-child
			{
				margin-bottom: 0;
			}
		}

		input[type=text]
		{
			display: block;

			&:invalid
			{
				background: #ffcccc;
			}
		}

		textarea
		{
			display: block;
			height: 150px;
			overflow: scroll;
			overflow-x: auto;
			overflow-y: scroll;
			width: 100%;
		}

		.paid-addresses,
		.transactions
		{
			background: white;
			color: black;
			font-family: monospace;
			font-size: 13.3333px;
			height: 150px;
			line-height: 1.09rem;
			overflow: scroll;
			overflow-x: auto;
			overflow-y: scroll;
			padding: 2px;
			resize: vertical;

			p
			{
				margin: 0;
	
				a
				{
					color: black;
					font-weight: normal;
				}
			}
		}
	}
	.action-buttons
	{
		padding-top: $padding-default*2;

		button
		{
			display: block;
			height: 37px;
		}
	}
	.action-bar
	{
		float: right;

		a
		{
			cursor: pointer;
			font-weight: normal;
		}
	}
	.button-container
	{
		position: relative;

		.refresh-button
		{
			position: absolute;
			right: 4px;
			bottom: 4px;
		}
	}
	.grid-2
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 0px;
	}
	.segmented-control
	{
		margin: 0;
		transition-duration: 0.2s;

		label
		{
			color: $color-nervos-green;
		}
	}
}
